<% content_for :title, "Editing maintenance service" %>

<h1>Editing maintenance service</h1>

<%= render "form", maintenance_service: @maintenance_service %>

<br>

<div>
  <%= link_to "Show this maintenance service", @maintenance_service %> |
  <%= link_to "Back to maintenance services", maintenance_services_path %>
</div>
