<% content_for :title, "New maintenance service" %>

<h1>New maintenance service</h1>

<%= render "form", maintenance_service: @maintenance_service %>

<br>

<div>
  <%= link_to "Back to maintenance services", maintenance_services_path %>
</div>
